@import 'tailwindcss';

html, body {
  background-color: #000000; 
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@utility animate-shimmer {
  animation: shimmer 1.5s infinite;
}